<template>
  <content-header title="Faskes" icon="fas fa-info-circle" />
  <content>
    <!-- tabel pasien -->

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="col-12">
                  <div class="row">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                      Tambah Data Faskes
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID FASKES</th>
                      <th>NAMA FASKES</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>0001</td>
                      <td>PUSKESMAS MOJO</td>
                      <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                          Akun Faskes
                        </button>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">
                          Ubah
                        </button>

                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
                          Hapus
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>ID FASKES</th>
                      <th>NAMA FASKES</th>
                      <th>ACTION</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- tabel pasien end -->
  </content>

  <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tambah Data Faskes</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="Id">ID Faskes</label>
            <input type="text" class="form-control" id="Id" placeholder="Id" />
          </div>

          <div class="form-group">
            <label for="Nama">Nama Faskes</label>
            <input type="text" class="form-control" id="Nama" placeholder="Nama" />
          </div>

          <div class="form-group">
            <label>Alamat</label>
            <textarea id="Alamat" class="form-control" rows="3" placeholder="Enter ..."></textarea>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Simpan</button>
        </div>
      </div>
    </div>
  </div>

  <!-- model edit -->
  <div class="modal fade" id="modal-warning">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ubah Data Faskes</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- componen ubah -->
        <div class="modal-body">
          <div class="form-group">
            <label for="Id">ID Faskes</label>
            <input type="text" class="form-control" id="Id_ubah" placeholder="Id" />
          </div>

          <div class="form-group">
            <label for="Nama">Nama Faskes</label>
            <input type="text" class="form-control" id="Nama_ubah" placeholder="Nama" />
          </div>

          <div class="form-group">
            <label>Alamat</label>
            <textarea id="Alamat_ubah" class="form-control" rows="3" placeholder="Enter ..."></textarea>
          </div>
        </div>
        <!-- componen ubah end -->

        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Simpan</button>
        </div>
      </div>
    </div>
  </div>
  <!-- model edit end -->

  <!-- Mode Delete  -->
<div class="modal fade" id="modal-danger">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title">Hapus Data</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<p>Apakah anda inggin menghapus data ini ?&hellip;</p>
</div>
<div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Hapus</button>
        </div>
</div>

</div>

</div>
  <!-- Model Delete End -->
</template>

<script>
$(function () {
  $("#example1")
    .DataTable({
      responsive: true,
      lengthChange: false,
      autoWidth: false,
      // buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
    })
    .buttons()
    .container()
    .appendTo("#example1_wrapper .col-md-6:eq(0)");
});

$(function () {
  var Toast = Swal.mixin({
    toast: true,
    position: "top-end",
    showConfirmButton: false,
    timer: 3000,
  });

  $(".swalDefaultSuccess").click(function () {
    Toast.fire({
      icon: "success",
      title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
    });
  });
  $('.swalDefaultWarning').click(function () {
    Toast.fire({
      icon: 'warning',
      title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
    })
  });

  $(".toastrDefaultSuccess").click(function () {
    toastr.success("Lorem ipsum dolor sit amet, consetetur sadipscing elitr.");
  });

  $('.toastrDefaultWarning').click(function () {
    toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
  });

  $(".toastsDefaultDefault").click(function () {
    $(document).Toasts("create", {
      title: "Toast Title",
      body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
    });
  });

  $('.toastsDefaultDanger').click(function() {
      $(document).Toasts('create', {
        class: 'bg-danger',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
});
</script>

  