<template>
    <content-header title="Setting" icon="fas fa-info-circle"/>
    <content>
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Setting</h3>
            </div>
            <div class="card-body">Lorem ipsum dilir sit amet.</div>
            <div class="card-footer">Footer</div>
          </div>
        </div>
      </div>
    </content>
  </template>
  